/* 2017-9-27 08:47:33 | 修改 木遥（微信:  http://marsgis.cn/weixin.html ） */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
  background-color: transparent !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, "Microsoft Yahei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  line-height: 1.6;
  color: #76838f;
  background-color: #fff;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #62a8ea;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #89bceb;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline: none;
  outline-offset: -2px;
}

figure {
  margin: 0;
}

img {
  vertical-align: middle;
}

#centerDiv {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
}
.map-control-bar {
  position: absolute;
  width: 36px;
  height: 36px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;
}
/*弹出层皮肤*/
.layui-layer-title {
  background-color: #1e9fff !important;
  color: #fff !important;
}

/*解决问题：https://github.com/Leaflet/Leaflet/issues/3575**/
.leaflet-tile-container img {
  width: 257px !important;
  height: 257px !important;
}

.map_print {
  position: absolute;
  top: 50px;
  bottom: 35px;
  left: 0;
  right: 0;
  width: 100%;
  min-width: 200px;
  min-height: 200px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #eee;
}

.map_print_title {
  position: absolute;
  width: 100%;
  top: 5px;
  text-align: center;
  font-size: 19px;
  font-weight: bold;
}

.map_print_foot {
  position: absolute;
  width: 100%;
  bottom: 5px;
  font-size: 14px;
  color: #808080;
  text-align: center;
}
